* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    text-align: center;
    justify-content: center;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: white;
    backdrop-filter: blur(40px);
  }
  
  .square {
    background: rgba(235, 0, 255, 0.11);
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    color: white;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 100px;
    
  }
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .game {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 24px;
    padding-top: 100px;
  }
  
  .game-info {
    margin-left: 20px;
  }
  